# exclude node_modules...
node_modules/
package-lock.json

# exlude any log files...
logs/appLogs/*.log
logs/appLogs/*.json
logs/couchDBLogs/*.log
logs/couchDBLogs/*.json

# exclude any actual apps
ng-app1/
ng-app2/
test/
public/
